@import '../../../assets/styles/variables';

.login-section{
    height: 100vh;
    width: 100%;

    .form-group{
        label{
            color: $primary-text-color;
            font-family: $noto-sans;
            font-weight: 500;
        }
        input{
            background-color: transparent;
            border: 1px solid white;
            color: $primary-text-color;
            outline: none;
            padding: 5px;
            width: 100%;
        }
    }
}