@import "../../../assets/styles/variables";

.custom-nav {
    //background-color: $primary-text-color;
    color: white;
    font-family: $quick-sands;
    position: sticky;
    top: 0;
    left: 0;
    h1 {
        color: $logo-color;
        cursor: pointer;
        font-size: 2rem;
        font-family: $logo-font;
        //text-shadow: 1px 1px 3px rgb(179, 179, 179);
        text-shadow: 0px 1px 1px $logo-secondary-color;
        span {
            color: white;
        }
    }

    .nav-menu {
        align-items: flex-start;
        background-color: $logo-secondary-color;
        display: flex;
        flex-flow: column wrap;
        height: 100vh;
        position: fixed;
        right: 0;
        top: 0;
        transition: all 300ms;
        animation-name: opacityAnimation;
        animation-duration: 200ms;
        width: 70%;
        z-index: 100;
        @keyframes opacityAnimation {
            0% {
                right: -100px;
                opacity: 0;
            }
            100% {
                right: 0;
                opacity: 1;
            }
        }
        li {
            padding: 0.5rem;
        }
        .img-container {
            img {
                height: 70px;
                width: 70px;
            }
        }
    }

    ul {
        align-items: center;
        display: flex;
        list-style-type: none;
        li {
            color: $logo-color;
            cursor: pointer;
            font-weight: 400;
            margin-right: 1rem;
            transition: all 300ms;
            &:hover {
                color: black;
            }
            a {
                color: $logo-color;
                font-size: 1rem;
                font-weight: bold;
                text-decoration: none;
                transition: all 300ms;
                &:hover {
                    color: white;
                }
            }
        }
    }
}

.active-navbar {
    background-color: $logo-secondary-color;
}

.transparent {
    background-color: transparent;
}

.fixed-pos {
    position: unset;
    top: 0;
    left: 0;
}
@media only screen and (min-width: 768px) {
    .fixed-pos{
        position: fixed !important;
    }
}
