@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

$primary-color: #e8e2d6;
$secondary-color: #b34744;
$logo-color: #e56263;
$logo-secondary-color: #1e120d;
$third-color: #8496b9;
$primary-text-color: #14110b;
$blue-color: #5b97a2;

$noto-sans: "Noto Sans", sans-serif;
$logo-font: 'Sansita Swashed', cursive;
$quick-sands: 'Quicksand', sans-serif;