@import './_variables.scss';
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body {
    //background: radial-gradient($primary-color, #c0b8a8);
    background-color: $primary-color;
    font-family: $quick-sands;
}

.separator {
    background-color: $primary-text-color;
    height: 2px;
    margin-bottom: 1rem;
    margin: 0 auto;
    width: 50%;
}

.primary-button {
    border: none;
    background-color: $logo-color;
    border-radius: 1.5rem;
    color: white;
    font-weight: bold;
    outline: none;
    padding: 0.5rem 1rem;
    transition: all 300ms;
    &:hover {
        background-color: $secondary-color;
    }
}
